:root {
    --primary: #e66465;
    --secondary: #9198e5;
    --third: #44FFD2;
}

*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    text-align: center;
    background: linear-gradient(#e66465, #9198e5);
}

h2 {
    background-color: #048ba8;
}

h3 {
    background-color: white;
    border-radius: 10px;
}

p {
    background-color:var(--primary);
    
    border: 2px solid black;
    border-radius: 10px;
}
